html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e1e2e3;
}
main{
    display: flex;
    justify-content: center;
    height: 650px;
    align-items: center;
}

.container{
    width: 900px;

    display: grid;
    grid-template-areas: "video-destaque propaganda"
    "video-destaque video-sugeridos";

    grid-template-columns:1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 35px;

    
}

.video-destaque{

    grid-area:  video-destaque;

}
.propaganda{
    grid-area: propaganda;

}
.video-sugeridos{
    grid-area:video-sugeridos;
}
.video-sugeridos .video{
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
}
.video-sugeridos .video .titulo{
    font-size: 14px;
    margin-bottom: 7px;
}
.video-sugeridos .video p{
    font-size: 11px;
}
.video-destaque img{
    margin-bottom: 12px;
    width: 100%;
    
}
.video-destaque .titulo{
    font-size: 18px;
    margin-bottom: 7px;

}
.video-destaque .visualisacoes{
    font-size: 14px;
    margin-bottom: 7px;
}
.propaganda{
    width: 210px;
    height: 56px;
    background-color: #e1e2e3;
}